/* CSS declarations go here */
body {
  padding-top:41px;
  padding-bottom: 40px;
  background-image: url('/img/grid-18px-masked.png');
  background-repeat: repeat;
}

.marketing .bs-icon {
  float:left;
  margin:15px 7px 0 0;
}

.hero-unit {
  background-image: url('/img/graphy.png');
  background-repeat: repeat;
  background-position: 1px;
}

.loader {
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Forms in navbar user menu */
.user-form {
  margin: 10px 10px 2px 10px;
}
.user-form .btn-primary {
  width: 100%;
  padding-bottom:0px;
  height: 2.5em;
}
.user-form .extra-links .btn {
  margin: 2px 0px 0px 0px;
  padding-bottom: 0px;
  font-size: 75%;
  line-height: 1em;
}
.user-form .more-logins hr {
  margin: 5px 0px;
}
.user-form .more-logins p {
  margin-bottom: 0px;
}
.user-form .more-logins button{
  width: 30%;
}

/* Dashboard */
.dashboard td {
  vertical-align: baseline;
}

body #logModal {
  width: 80%; /* desired relative width */
  left: 10%; /* (100%-width)/2 */
  margin: auto auto auto auto; /* place center */
}

pre.log {
  text-align: left;
  font-size: 10px;
  line-height: 10px;
}

/* Editor page */
.CodeMirror {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #eee;
  height: auto;
}
.CodeMorror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.editor-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.editor-toolbar p {
}
.editor-toolbar .editor-saved {
  line-height: 2;
  margin-right: 1em;
}
#code-editor {
  min-height: 100px;
  margin-bottom: 20px;
}

/* Learn list */
.learn-thumbnail div.img-container {
  min-height: 180px;
}
.learn-thumbnail h1 {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}
.learn-thumbnail a:link {
  text-decoration: none;
}
.learn-thumbnail a:visited {
  text-decoration: none;
}
.learn-thumbnail a:active {
  text-decoration: none;
}
.learn-thumbnail a:hover {
  text-decoration: none;
}

/* Learn page */
.learn-content h1 {
  font-size: 24px;
}
.learn-content h2 {
  font-size: 18px;
}
.learn-content h3 {
  font-size: 16px;
}
.learn-content h4 {
  font-size: 15px;
}
.learn-content h5 {
  font-size: 14px;
}
.learn-content h6 {
  font-size: 14px;
}
.btn-deploy {
  margin-top: 20px;
}
.prerequisite img {
  margin-left: 10px;
  width: 64px;
}


/* Learn page editor */
.learn-editor .nav-tabs {
  margin-top: 50px;
}
.learn-editor input {
  width: 100%;
}
.learn-editor textarea {
  width: 100%;
}
.learn-editor textarea[name='content'] {
  height: 320px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 20px;
}
.help-fancyLink {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
button[name='addPrereq'] {
  margin: 80px 0px 80px 0px;
}
.edit-prereq fieldset {
  margin-bottom: 50px;
  width: 80%;
}
.edit-prereq .control-label {
  width: 90px;
}
.edit-prereq .controls {
  margin-left: 100px;
}


/* Error page */
.error-row {
  margin: 100px 0px 100px 0px;
}
.error-code {
  line-height: 200px;
  font-size: 120px;
  font-weight: bold;
}
.error-reason {
  font-size: 20px;
  font-weight: bold;
}
