/* CSS declarations go here */
body {
  padding-top:41px;
  padding-bottom: 40px;
  background-image: url('/img/grid-18px-masked.png');
  background-repeat: repeat;
}

.marketing .bs-icon {
  float:left;
  margin:15px 7px 0 0;
}

.hero-unit {
  background-image: url('/img/graphy.png');
  background-repeat: repeat;
  background-position: 1px;
}

/* Forms in navbar user menu */
.user-form {
  margin: 10px 10px 2px 10px;
}
.user-form .btn-primary {
  width: 100%; 
  padding-bottom:0px;
  height: 2.5em;
}
.user-form .extra-links .btn {
  margin: 2px 0px 0px 0px;
  padding-bottom: 0px;
  font-size: 75%;
  line-height: 1em;
}
.user-form .more-logins hr {
  margin: 5px 0px;
}
.user-form .more-logins p {
  margin-bottom: 0px;
}
.user-form .more-logins button{
  width: 30%;
}

/* Editor page */
.CodeMirror {
  background-color: white;
  border-radius: 5px;
  border: solid 1px grey;
}
.editor-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.editor-toolbar p {
}
.editor-toolbar .editor-saved {
  line-height: 2;
  margin-right: 1em;
}